
<!-- <h5>All about Basic Buttons</h5>
<div>
<button mat-button>Basic</button>
<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button>
</div>

<h5>Raised Buttons</h5>
<div>
<button mat-raised-button>Basic</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>
<button mat-raised-button disabled>Disabled</button>
</div>

<h5>Stroked Buttons</h5>
<div>
<button mat-stroked-button>Basic</button>
<button mat-stroked-button color="primary">Primary</button>
<button mat-stroked-button color="accent">Accent</button>
<button mat-stroked-button color="warn">Warn</button>
<button mat-stroked-button disabled>Disabled</button>
</div>

<h5>Flat Buttons</h5>
<div>
<button mat-flat-button>Basic</button>
<button mat-flat-button color="primary">Primary</button>
<button mat-flat-button color="accent">Accent</button>
<button mat-flat-button color="warn">Warn</button>
<button mat-flat-button disabled>Disabled</button>
</div>

<h5>Fab Buttons</h5>
<div>
<button mat-fab>Basic</button>
<button mat-fab color="primary">Primary</button>
<button mat-fab color="accent">Accent</button>
<button mat-fab color="warn">Warn</button>
<button mat-fab disabled>Disabled</button>
</div>

<h5>Mini Fab Buttons</h5>
<div>
<button mat-mini-fab>Basic</button>
<button mat-mini-fab color="primary">Primary</button>
<button mat-mini-fab color="accent">Accent</button>
<button mat-mini-fab color="warn">Warn</button>
</div> -->



<!-- ------------------------------------------------------------------------------- -->


<!-- <h5>All about typography</h5>
<div class="mat-display-4">Hello world</div>
<div class="mat-display-3">Hello</div>
<div class="mat-display-2">Hello</div>
<div class="mat-display-1">Hello</div>

<div class="mat-headline">Headline!</div>
<div class="mat-tile">Title!</dtiv>
<div class="mat-subheading-2">Sub heading 2 !</div>
<div class="mat-subheading-1">Sub heading 1 !</div>

<div class="mat-body-1">Mat body 1 </div>
<div class="mat-body-2">Mat body 2</div>
<div class="mat-caption">Mat body 2</div> -->


<!-- ------------------------------------------------------------------------------- -->

<!-- 
  <h5>using toggle button as an radio button</h5>
  <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" #togglegroup="matButtonToggleGroup">  
    <mat-button-toggle value="bold">Bold</mat-button-toggle>  
    <mat-button-toggle value="italic">Italic</mat-button-toggle>  
    <mat-button-toggle value="underline">Underline</mat-button-toggle>  
  </mat-button-toggle-group>
-->
 




<!-- ------------------------------------------------------------------------------- -->

<!-- <h5>using toggle button as an checkbox</h5>
<mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" #togglegroup="matButtonToggleGroup" multiple (change)="onButtonToggled($event)" >  
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>  
  <mat-button-toggle value="underline">Underline</mat-button-toggle>  
</mat-button-toggle-group> -->
<!-- this states which value is checked ny user  -->
<!-- {{togglegroup.value}}  -->



<!-- ------------------------------------------------------------------------------- -->


<!-- <h5>button icon</h5>
<button >
  <mat-icon color = "warn">check</mat-icon>
</button>
<mat-icon>
  grade
</mat-icon>
<button mat-mini-fab>
  <mat-icon>home</mat-icon>
</button> -->



<!-- ------------------------------------------------------------------------------- -->



<!-- 
<button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
  Left badge Button with accent theme
</button>

<div>

</div>
<button mat-raised-button color="primary" matBadge="8" matBadgePosition="after" matBadgeColor="warn">
  Right badge Button with accent theme
</button>

<p>
  Button toggles badge visibility
  <button mat-raised-button [matBadge]="badgeContent" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
      Hide
  </button>
</p>

<mat-icon matBadge="15" matBadgeColor="warn" matBadgePosition="before">home</mat-icon>

<mat-icon matBadge="15" matBadgeColor="warn" matBadgePosition="after">home</mat-icon>

<p>
  Icon with a badge
  <abbr>

    <mat-icon matBadge="15" matBadgeColor="warn" title="View Home page">home</mat-icon>

  </abbr>
    Include text description of the icon's meaning for screen-readers
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
</p> -->



<!-- ------------------------------------------------------------------------------- -->



<!-- <mat-spinner color="warn" value="50" mode="determinate" value="100"></mat-spinner>
  
<br>
  
<mat-spinner color="primary" mode="determinate" value="50"></mat-spinner>
  
<br>
<mat-spinner color="accent"></mat-spinner>

<br>

<mat-slider class="example-margin" [value]="progressSlider" color="warn"></mat-slider> -->



<!-- ------------------------------------------------------------------------------- -->

<!-- 
<p>
  <mat-toolbar>
    <mat-toolbar-row color="warn">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
</mat-toolbar>
</p> -->



<!-- ------------------------------------------------------------------------------- -->


<!-- <mat-sidenav-container>
  <mat-sidenav [opened]="opened" style="width: 300px;" >Side Content</mat-sidenav>
  <mat-sidenav-content style="height: 100%;">
    
  </mat-sidenav-content>
</mat-sidenav-container>

<button mat-fab color="warn" (click)="showSideBar()">
  Side
</button> -->



<!-- ------------------------------------------------------------------------------- -->



